@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: #060807;
  color: #111;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.overlap-wrapper {
  background-color: #060807;
  max-width: 402px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.overlap {
  position: relative;
  height: 964px;
}

.overlap-group {
  position: absolute;
  width: 390px;
  height: 914px;
  top: 50px;
  left: 0;
}

.ball {
  position: absolute;
  width: 66px;
  height: 60px;
  top: 407px;
  left: 150px;
  object-fit: cover;
}

.Head {
  position: absolute;
  width: 250px;
  height: 43px;
  top: 10px;
  left: 41px;
  z-index: 10;
}

.img {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 726px;
  left: 86px;
  object-fit: cover;
}

.ball2 {
  position: absolute;
  width: 49px;
  height: 46px;
  top: 0;
  left: 329px;
  object-fit: cover;
}

.pointer {
  position: absolute;
  width: 101px;
  height: 104px;
  top: 324px;
  left: 295px;
  object-fit: cover;
}

.heart {
  position: absolute;
  width: 97px;
  height: 111px;
  top: 803px;
  left: 6px;
  object-fit: cover;
}

.heart2 {
  position: absolute;
  width: 95px;
  height: 155px;
  top: 3px;
  left: 301px;
  object-fit: cover;
}

.controller {
  position: absolute;
  width: 67px;
  height: 103px;
  top: 811px;
  left: 329px;
  object-fit: cover;
}

.play {
  position: absolute;
  width: 197px;
  height: 232px;
  top: 142px;
  left: 111px;
}

.box {
  position: absolute;
  width: 194px;
  height: 217px;
  top: 454px;
  left: 111px;
}

.HMD {
  position: absolute;
  width: 126px;
  height: 228px;
  top: 588px;
  left: 270px;
  object-fit: cover;
}

.date {
  position: absolute;
  width: 90px;
  height: 111px;
  top: 564px;
  left: 108px;
}

.location {
  position: absolute;
  width: 270px;
  height: 106px;
  top: 792px;
  left: 67px;
}

.controller2 {
  position: absolute;
  width: 78px;
  height: 130px;
  top: 216px;
  left: 0px;
  object-fit: cover;
}

.div {
  position: absolute;
  width: 251px;
  height: 99px;
  top: 0;
  left: 35px;
}

.spring {
  position: absolute;
  width: 95px;
  height: 99px;
  top: 0;
  left: 6px;
  object-fit: cover;
}

.spring2 {
  position: absolute;
  width: 67px;
  height: 139px;
  top: 542px;
  left: 0px;
  object-fit: cover;
}

.play,
.box,
.date,
.location,
.Head {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  height: auto;
  display: block;
}
