@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #060807;
  color: white;
  height: 100%;
}

.invitation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #060807;
}

.stage {
  position: relative;
  width: 402px;
  height: 3150px;
  background-color: #060807;
}


img {
  position: absolute;
  display: block;
  object-fit: contain;
}


.pointer {
  width: 81px;
  height: 65px;
  top: 990px;
  left: 321px;
}

.spring {
  width: 99px;
  height: 135px;
  top: 780px;
  left: 0;
}

.controller2 {
  width: 51px;
  height: 93px;
  top: 800px;
  left: 351px;
}

.ball {
  width: 65px;
  height: 60px;
  top: 1300px;
  left: 152px;
}

.controller {
  width: 82px;
  height: 113px;
  top: 1100px;
  left: 0;
}

.below_poster {
  width: 402px;
  height: 149px;
  top: 790px;
  left: 0px;
}

.introduction {
  position: absolute;
  width: 298px;
  height: 402px;
  top: 955px;
  left: 52px;
}

.ball2 {
  width: 30px;
  height: 58px;
  top: 1220px;
  left: 372px;
}

.ball3 {
  width: 37px;
  height: 37px;
  top: 1690px;
  left: 106px;
}

.HMD {
  width: 139px;
  height: 208px;
  top: 1470px;
  left: 263px;
}

.spring2 {
  width: 103px;
  height: 157px;
  top: 1420px;
  left: 0;
}

.info {
  width: 288px;
  height: 301px;
  top: 1546px;
  left: 57px;
}

.poster_OG {
  width: 402px;
  height: 637px;
  top: 170px;
  left: 0;
}

.poster {
  width: 402px;
  height: 637px;
  top: 149px;
  left: 0;
}

.head {
  width: 153px;
  height: 62px;
  top: 73px;
  left: 125px;
}

.subject {
  width: 288px;
  height: 911px;
  top: 1985px;
  left: 57px;
}

.SMU {
  width: 163px;
  height: 47px;
  top: 3015px;
  left: 120px;
}


.parallax {
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}