@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: #060807;
  color: #111;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}


a {
  text-decoration: none;
}

.overlap-wrapper {
  background-color: #060807;
  max-width: 402px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.overlap {
  position: relative;
  height: 120vh
}

.overlap-group {
  position: absolute;
  width: 390px;
  height: 914px;
  top: 50px;
  left: 0;
}

svg,
img[src$=".svg"] {
  image-rendering: auto;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  display: block;
}


.vector-image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
  display: block;
}


.ball,
.img,
.ball2,
.pointer,
.heart,
.heart2,
.controller,
.HMD,
.controller2,
.spring,
.spring2 {
  position: absolute;
  object-fit: contain;
}

.ball {
  width: 66px;
  height: auto;
  top: 377px;
  left: 150px;
}

.img {
  width: 37px;
  height: auto;
  top: 726px;
  left: 86px;
}

.ball2 {
  width: 49px;
  height: auto;
  top: 0;
  left: 329px;
}

.pointer {
  width: 101px;
  height: auto;
  top: 324px;
  left: 295px;
}

.heart {
  width: 97px;
  height: auto;
  top: 803px;
  left: 6px;
}

.heart2 {
  width: 95px;
  height: auto;
  top: 3px;
  left: 301px;
}

.controller {
  width: 67px;
  height: auto;
  top: 811px;
  left: 329px;
}

.HMD {
  width: 126px;
  height: auto;
  top: 588px;
  left: 270px;
}

.controller2 {
  width: 78px;
  height: auto;
  top: 216px;
  left: 0px;
}

.spring {
  width: 95px;
  height: auto;
  top: 0;
  left: 6px;
}

.spring2 {
  width: 67px;
  height: auto;
  top: 542px;
  left: 0px;
}

.play,
.box,
.date,
.location,
.Head,
.div {
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
  display: block;
}



.play {
  width: 197px;
  top: 112px;
  left: 111px;
}

.box {
  width: 194px;
  top: 424px;
  left: 111px;
}



.date {
  width: 90px;
  top: 534px;
  left: 108px;
}

.location {
  width: 270px;
  top: 752px;
  left: 67px;
}

.Head {
  width: 250px;
  top: 0%;
  left: 41px;
  z-index: 10;
}

.div {
  width: 251px;
  top: 0;
  left: 35px;
}